:root {
  font-family: 'Exo 2', serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: black;
  position: relative;
  z-index: -1;
  --safe-area-inset-top: 0px;
  height: 100%;
  /* Ensure the root element takes up the full viewport height */
  width: 100%;
  /* Ensure the root element takes up the full viewport width */
  overflow: hidden;
  /* Prevent content from overflowing */

}

:root::before,
:root::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 15%;
  z-index: -1;
  background-repeat: repeat;
  background-size: 100% 7.5%;
}


:root::before {
  background-image: -moz-linear-gradient(top, black 60%, white 5%),
    -moz-linear-gradient(left, black 60%, white 5%);
  background-image: -webkit-linear-gradient(top, black 60%, white 5%),
    -webkit-linear-gradient(left, black 60%, white 5%);
  left: -18px;
}

:root::after {
  background-image: -moz-linear-gradient(top, black 60%, white 5%),
    -moz-linear-gradient(right, black 60%, white 5%);
  background-image: -webkit-linear-gradient(top, black 60%, white 5%),
    -webkit-linear-gradient(right, black 60%, white 5%);
  right: -20px;
}

.container {
  margin-left: 9%;
  margin-right: 9%;
  height: 100vh;
  z-index: 1;
  padding-top: var(--safe-area-inset-top);
}

.white-box {
  width: 70%;
  min-height: 16%;
  background-color: white;
  align-self: center;
  color: black;
  border-radius: 15px;
  margin: 0 auto;
}

p {
  padding: 10%;
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
  font-size: 3.5em;
  color: #d08a7f;
  padding-top: 5%;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  color: white;
  margin-bottom: 0;
}

.button-container {
  margin-top: 15%;
}


.button {
  color: #d08a7f;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #d08a7f;
  cursor: pointer;
  outline: none;
}


button:hover {
  color: #d08a7f;
}

.button:active {
  color: #d08a7f;
  border-color: #d08a7f;
}


.back-to-home {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #535bf2;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.5em;
}